@page "{handler?}"
@model Ext.Net.Examples.Pages.samples.layout.borderlayout.complex_in_codebehind.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Complex BorderLayout - Ext.NET Examples
        </title>
        <link href="/resources/css/examples.css" rel="stylesheet" />
    </head>
    <body>
        <h1>
            Complex BorderLayout in CodeBehind
        </h1>

        <ext-window model="Model.Window1" />
    </body>
</html>
