@page "{handler?}"
@model Ext.Net.Examples.Pages.samples.treepanel.basic.built_in_codebehind.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            TreePanel built using C# - Ext.NET Examples
        </title>
        <link href="/resources/css/examples.css" rel="stylesheet" />
    </head>
    <body>
        <h1>
            TreePanel built using C#
        </h1>

        <ext-treePanel model="Model.CodeTree" />
    </body>
</html>
