@page "{handler?}"

@using Ext.Net.Examples.Pages.samples.buttons.basic.variations

@model IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button Variations - Ext.NET Classic Examples</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/examples.css" />
    <style>
        .x-btn {
            margin-right: 10px;
        }

        .floater {
            float: left;
        }
    </style>

</head>
<body>

    <div>
        <ext-container model="Model.Samples" />
    </div>

</body>
</html>
