@page "{handler?}"
@model Ext.Net.Examples.Pages.samples.form.label.basic.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Label variations - Ext.NET Examples
        </title>
        <link href="/resources/css/examples.css" rel="stylesheet" />
    </head>
    <body>
        <h1>
            Label variations
        </h1>

        <h4>
            Simple label
        </h4>

        <ext-label text="Hello World" />

        <h4>
            Label with html
        </h4>

        <ext-label html="<i>Label</i>" />
    </body>
</html>
