@page "{handler?}"
@model Ext.Net.Examples.Pages.samples.layout.hboxlayout.reordering.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            VBoxLayout - Ext.NET Examples
        </title>
        <link href="/resources/css/examples.css" rel="stylesheet" />
    </head>
    <body>
        <ext-window
            width="720"
            height="480"
            autoShow="true"
            closable="false"
            x="100"
            y="100"
            title="Reorder Panels">
            <layout>
                <ext-hboxLayout align="Stretch" />
            </layout>
            <defaults>
                <ext-add key="margin" value="10" mode="Raw" />
            </defaults>
            <items>
                <ext-panel frame="true" flex="1" title="Panel 1" />
                <ext-panel frame="true" flex="1" title="Panel 2" />
                <ext-panel frame="true" flex="1" title="Panel 3" />
                <ext-panel frame="true" flex="1" title="Panel 4" />
            </items>
            <plugins>
                @* <ext-boxReorderer /> *@
            </plugins>
        </ext-window>
    </body>
</html>
