@page "{handler?}"
@model Ext.Net.Examples.Pages.samples.viewport.basic.built_in_codebehind.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Viewport with BorderLayout - Ext.NET Examples
        </title>
    </head>
    <body>
        <ext-viewport model="Model.Viewport1" />
    </body>
</html>
