@page "{handler?}"
@model Ext.Net.Examples.Pages.samples.window.basic.hello_world.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Hello World - Ext.NET Examples
        </title>
        <link href="/resources/css/examples.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Hello World</h1>

        <p>
            The following sample demonstrates how to configure a new Window and <code>show</code> the Window if closed.
        </p>

        <ext-button text="Show Window (Client Event)" onClientClick="App.Window1.show();" />

        <br />

        <ext-button text="Show Window (Direct Event)" onDirectClick="ShowWindowDirect" />

        <ext-window
            id="Window1"
            title="Hello World"
            height="270"
            width="360"
            bodyPadding="18"
            modal="true">
            <content>
                This is my first <a target="_blank" href="https://ext.net/">Ext.NET</a> Window.
            </content>
        </ext-window>
    </body>
</html>
